* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {

    display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.card {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.card-image {
    width: 30%;

}
.card-image img {
width: 100%;
border-radius: 50%;

}

.card.data {
 width: 60%;
}


